.ac-separator {
    background: var(--ac-border-muted);
}

.ac-separator-horizontal {
    height: 1px;
    width: 100%;
    margin: 1rem 0;
}

.ac-separator-vertical {
    width: 1px;
    height: 100%;
    margin: 0 1rem;
}